body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #252b32;
   
  }

  .text-holder {
    display: flex; 
    align-items: center;
    color: white;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
  }

  .gap {
    margin-left: 70px;
  }

 


input {
    height: 50px;
    width: 380px;
    font-size: 30px;
    margin-left: 13px;
    border: none;
    background-color: #252b32;
    color: white;
  }
  
  input:focus {
    height: 50px;
    width: 380px;
    font-size: 30px;
    margin-left: 13px;
    border: none;
  }


  .score {
    margin-right: 15px;
    font-size: 70px;
  }

  .points-label {
    font-size: 35px;
  }

   .main {
    margin: 0 auto;
    background-image: url("Background.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 47%;
    top: 50%;
    transform: translate(-50%, -50%);
  background-size: 960px 567px;
    /* background-color: #cccccc; */
    height: 567px;
    width: 960px;
    overflow: auto;
    padding: 0px;
    /* border-style: double; */
    border: 9px double whitesmoke;
    margin-left: 50px;
   
   }

   .sidebar {
    margin-left: 10px;
    margin-top: -55px;
    height: 700px;
    width: 300px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    display: none;
    grid-template-columns: auto auto;
    /* row-gap: -55px; */
  }

  .sidebar h1 {
    padding: 0;
    margin: 0;
  }

  .sidebar2 h1 {
    padding: 0;
    margin: 0;
  }

  .sidebar3 h1 {
    padding: 0;
    margin: 0;
  }
  .sidebar4 h1 {
    padding: 0;
    margin: 0;
  }

  .sidebar2 {
    margin-left: 1495px;
    margin-top: -700px;
    height: 700px;
    width: 350px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    display: none;
    grid-template-columns: auto auto;
    margin-right: 10px;
    /* row-gap: -55px; */
  }

  .sidebar3 {
    /* margin-left: 95px; */
    margin-top: 40px;
    height: 300px;
    width: 800px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    display: none;
    grid-template-columns: auto auto auto auto auto;
    margin-right: 10px;
    /* row-gap: -55px; */
    position: absolute;
    left: 52%;
    transform: translate(-50%, 0);
    /* top: 50%; */
  }

  .sidebar4 {
    /* margin-left: 95px; */
    margin-top: 80px;
    height: 300px;
    width: 800px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    display: none;
    grid-template-columns: auto auto auto auto auto;
    margin-right: 10px;
    /* row-gap: -55px; */
    position: absolute;
    left: 52%;
    transform: translate(-50%, 0);
    /* top: 50%; */
  }
   .object img {
    height: 100%;
    width: 100%;
   }

   #harp {
    margin-top: 330px;
    margin-left: 200px;
    height: 90px;
    width: 90px;
    z-index: 2;
   }

   #curtain3 {
    margin-top: -90px;
    margin-left: 384px;
    height: 42px;
    width: 35px;
    z-index: 2;
   }

   #hat-stand {
    margin-top: -138px;
    margin-left: 20px;
    height: 70px;
    width: 100px;
    z-index: 2;
   }

   #chest {
    margin-top: 0px;
    margin-left: 653px;
    height: 210px;
    width: 210px;
    z-index: 2;
    -webkit-transform: scaleX(-1); /* flips img */
    transform: scaleX(-1); /* flips img */
   }

   #cat {
    margin-top: -320px;
    margin-left: 760px;
    height: 215px;
    width: 150px;
    z-index: 2;
   
   }

   #pot {
    margin-top: -110px;
    margin-left: 600px;
    height: 55px;
    width: 30px;
    z-index: 2;
   }

   #torch {
    margin-top: -10px;
    margin-left: 290px;
    height: 70px;
    width: 160px;
    z-index: 2;
   }

   #torch2 {
    margin-top: -210px;
    margin-left: 30px;
    height: 90px;
    width: 98px;
    z-index: 2;
   }

   #curtain2 {
    margin-top: 151px;
    margin-left: 173px;
    height: 100px;
    width: 75px;
    z-index: 2;
   }

   #knight {
    margin-top: -150px;
    margin-left: 270px;
    height: 170px;
    width: 95px;
    z-index: 2;
   }

   #banner {
    margin-top: -190px;
    margin-left: 460px;
    height: 105px;
    width: 74px;
    z-index: 2;
   }

   #banner2 {
    margin-top: -155px;
    margin-left: 18px;
    height: 135px;
    width: 140px;
    z-index: 2;
   }

   .hidden {
    display: none;
    /* font-size: 60px; */
   }

  

   #curtain1 {
    margin-top: -80px;
    margin-left: 196px;
    height: 55px;
    width: 45px;
    z-index: 2;
    -webkit-transform: scaleX(-1); /* flips img */
    transform: scaleX(-1); /* flips img */
   }

   #throne {
    margin-top: 40px;
    margin-left: 377px;
    height: 80px;
    width: 105px;
    z-index: 2;
   }

   #table {
    margin-top: -7px;
    margin-left: 50px;
    height: 135px;
    width: 205px;
    z-index: 2;
   }

   #wine {
    margin-top: -470px;
    margin-left: 450px;
    height: 75px;
    width: 45px;
    z-index: 2;
   }

   #shield {
    margin-top: 240px;
    margin-left: 476px;
    height: 130px;
    width: 115px;
    z-index: 2;
   }

   #bread {
    margin-top: -190px;
    margin-left: 50px;
    height: 95px;
    width: 105px;
    z-index: 2;
   }

   #spider {
    margin-top: 50px;
    margin-left: 225px;
    height: 165px;
    width: 195px;
    z-index: 2;
   }

   #mouse {
    margin-top: -120px;
    margin-left: 30px;
    height: 70px;
    width: 70px;
    z-index: 2;
   }

   #cheese {
    margin-top: -440px;
    margin-left: 10px;
    height: 80px;
    width: 65px;
    z-index: 2;
   }

   #rug {
    margin-top: -300px;
    margin-left: 170px;
    height: 65px;
    width: 65px;
    z-index: 2;
   }

   #axe {
    margin-top: 550px;
    margin-left: 550px;
    height: 90px;
    width: 35px;
    z-index: 2;
   }

   #sword {
    margin-top: -80px;
    margin-left: 460px;
    height: 85px;
    width: 65px;
    z-index: 2;
   }

   #plant {
    margin-top: -59px;
    margin-left: 500px;
    height: 55px;
    width: 55px;
    z-index: 2;
   }




   