@import url(https://db.onlinewebfonts.com/c/cdc8c3de1e6bd5a9a67c6a001f9fedd0?family=Burbank+Big+Condensed+Black);
@font-face {
    font-family: "Burbank Big Condensed Black";
    src: url("https://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot");
    src: url("https://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.svg#Burbank Big Condensed Black")format("svg");
}

.levelsSafe {
    display: grid;
    grid-template-columns: 550px 550px 550px;
    /* gap: 15px; */
    gap: 10px;
    
    grid-template-rows: 350px;
    color: white;
    position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  
}

.score1Test {
    display: grid;
    grid-template-columns: 650px;
    /* gap: 15px; */
    
    grid-template-rows: 70px;
    color: white;
    position: absolute;
    font-size: 50px;
  top: 5%;
  left: 64%;
  transform: translate(-50%, -50%);
  
  
}

img {
    width: 100%;
    height: auto;
}


.colorGame {
    background-color: #db9801;
}

.pixelPaint {
    background-color: #d7d7d7;
}

.shooter {
    background-color: #e08e79;
}

.memory {
    background-color: #f1f1f1;
}

.picture {
    background-color: #212121;
}

.food {
    background-color: #212121;
}

.trivia {
    background-color: #212121;
}

.word {
    background-color: #2c2c2c;
}

.tictactoe {
    background-color: #212121;
}

.tetris {
    background-color: #c5d6a7;
}

.maze {
    background-color: #12798e;
}

.snake {
    background-color: #212121;
}

.tennis {
    background-color: #212121;
}

.solitare {
    background-color: #218839;
}

.blocks {
    background-color: #d0cbc7;
}

.hangman {
    background-color: #c2d82e;
}

.tilt {
    background-color: #ede6e3;
}

.tetris2 {
    background-color: #232323;
}

.windows {
    background-color: #02aaf5;
}






p {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    /* font-weight: 800; */
    font-family: "Burbank Big Condensed Black";
}

