* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #overlaycomplete img {
    width: 100%;
    height: 100%;
  }
  #overlaycomplete {
     /* The image used */
  background-image: url("output-onlinegiftools.gif");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    cursor: pointer;
  }
  #overlay1 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  #overlay2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  #overlay3 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

  #overlay4 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
.reset2 {
  position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70%;
    left: 47%;
    border-radius: 2rem;
  --c:  #000000; /* the color*/
  color: black;
  font-size: 30px;
  font-weight: bolder;
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: #ff0000;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
  height: 70px;
  width: 220px;
}
  #text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
.ximg {
  height: 400px;
  margin: 20px;
}
  .group {
    /* display: flex; */
    color: white;
    display: grid;
    grid-template-columns: 450px 65% auto;
    column-gap: 55px;
    align-items: center;
    margin-top: 30px;
  margin-left: 30px;
    
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #252b32;
   
  }

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    /* background-color: #454545; */
    background-image: url("Texture2.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
  }
  .grid-item {
    /* background-color: rgb(255, 255, 255); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: rgb(17, 167, 0);
    font-weight: bold;
  }
  .left {
    /* border-left: 3px solid rgba(0, 0, 0, 0.8);
    border-top: 3px solid rgba(0, 0, 0, 0.8); */
    /* border-bottom: 3px solid rgba(0, 0, 0, 0.8); */
    background-image: url("Texture3.png");
    background-repeat: no-repeat;
  background-size: 100%;
  }
  .sidenum {
    color: black;
    font-size: 45px;
  }

  .right {
    /* border-right: 3px solid rgba(0, 0, 0, 0.8);
    border-top: 3px solid rgba(0, 0, 0, 0.8); */
    /* border-bottom: 3px solid rgba(0, 0, 0, 0.8); */
    background-image: url("Texture4.png");
    background-repeat: no-repeat;
  background-size: 100%;
  }

  .surround {
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    border-top: 3px solid rgba(0, 0, 0, 0.8);
    background-image: url("Texture1.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
  }

  .surround-left {
    border-left: 3px solid rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    border-top: 3px solid rgba(0, 0, 0, 0.8);
    background-image: url("Texture1.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
  }

  .surround-right {
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    border-right: 3px solid rgba(0, 0, 0, 0.8);
    border-top: 3px solid rgba(0, 0, 0, 0.8);
    background-image: url("Texture1.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
  }

  .surround-all {
    border-left: 3px solid rgba(0, 0, 0, 0.8);
    border-right: 3px solid rgba(0, 0, 0, 0.8);
    border-top: 3px solid rgba(0, 0, 0, 0.8);
    background-image: url("Texture1.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
  }

  .surround-all2 {
    border-left: 3px solid rgba(0, 0, 0, 0.8);
    border-right: 3px solid rgba(0, 0, 0, 0.8);
    border-top: 3px solid rgba(0, 0, 0, 0.8);
    
  }

.air {
  border-bottom: 3px dotted rgba(0, 0, 0, 0.8);
}
.xx {
  height: 100px;
  margin-left: 15px;
}

.ximg1 {
  opacity: 0;
}
.ximg2 {
  opacity: 0;
}
.ximg3 {
  opacity: 0;
}



  .flip-card-container {
    width: 50px;
    height: 50px;
    perspective: 1000px;
    padding: 0;
    margin: 0;
  }
  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .flip-card-container-button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }

  .flipped {
    transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
    transition: .3s;
  }
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 0.5rem; */
  }
  .flip-card-front {
    /* background-color: white; */
    color: #fff;
  }

  .flip-card-front h1{
    color: black;
    font-size: 3.5rem;
  }

/* .front-photo {
    height: 30px
} */

  .flip-card-back {
    height: 100%;
    width: 100%;
    /* background-color: white; */
    color: black;
    transform: rotateY(180deg);
  }
  
  .flip-card-front img {
    width: 100%;
    height: 100%;
    /* border-radius: 0.5rem; */
  }
  .flip-card-back p {
    text-align: center;
    margin: 1rem;
    font-size: 2.9rem;
    line-height: 1.5rem;
  }
  .flip-card-back p span {
    display: block;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 1.25rem;
  }

/* .reset {
  width: 100px;
  height: 30px;
} */

.reset {
  border-radius: 2rem;
  color: white;
  --c:  #229091; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.reset:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.reset:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}



.reset {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
}

input {
  height: 50px;
  width: 380px;
  font-size: 30px;
  margin-left: 13px;
  border: none;
  background-color: #252b32;
  color: white;
}

input:focus {
  height: 50px;
  width: 380px;
  font-size: 30px;
  margin-left: 13px;
  border: none;
}