body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #252b32;
   
  }

  .text-holder {
    display: flex; 
    align-items: center;
    color: white;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
  }

  .gap {
    margin-left: 70px;
  }

 


input {
    height: 50px;
    width: 380px;
    font-size: 30px;
    margin-left: 13px;
    border: none;
    background-color: #252b32;
    color: white;
  }
  
  input:focus {
    height: 50px;
    width: 380px;
    font-size: 30px;
    margin-left: 13px;
    border: none;
  }


  .score {
    margin-right: 15px;
    font-size: 70px;
  }

  .points-label {
    font-size: 35px;
  }

   .main {
    margin: 0 auto;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    position: absolute;
    left: 47%;
    top: 50%;
    transform: translate(-50%, -50%);
  background-size: 1300px 700px;
    /* background-color: #cccccc; */
    height: 700px;
    width: 1300px;
    overflow: auto;
    padding: 0px;
    /* border-style: double; */
    border: 9px double whitesmoke;
    margin-left: 50px;
   
   }

   .sidebar {
    margin-left: 10px;
    margin-top: -55px;
    height: 700px;
    width: 300px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    display: none;
    grid-template-columns: auto auto;
    /* row-gap: -55px; */
  }

  .sidebar h1 {
    padding: 0;
    margin: 0;
  }

  .sidebar2 h1 {
    padding: 0;
    margin: 0;
  }

  .sidebar3 h1 {
    padding: 0;
    margin: 0;
  }
  .sidebar4 h1 {
    padding: 0;
    margin: 0;
  }

  .sidebar2 {
    margin-left: 1595px;
    margin-top: -700px;
    height: 700px;
    width: 300px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    display: none;
    grid-template-columns: auto auto;
    margin-right: 10px;
    /* row-gap: -55px; */
  }

  .sidebar3 {
    /* margin-left: 95px; */
    margin-top: 40px;
    height: 300px;
    width: 800px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    display: none;
    grid-template-columns: auto auto auto auto auto;
    margin-right: 10px;
    /* row-gap: -55px; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    /* top: 50%; */
  }

  .sidebar4 {
    /* margin-left: 95px; */
    margin-top: 80px;
    height: 300px;
    width: 800px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    display: none;
    grid-template-columns: auto auto auto auto auto;
    margin-right: 10px;
    /* row-gap: -55px; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    /* top: 50%; */
  }
   .object img {
    height: 100%;
    width: 100%;
   }

   #curtain3 {
    margin-top: 100px;
    margin-left: -44px;
    height: 400px;
    width: 250px;
    z-index: 2;
   }

   #hat-stand {
    margin-top: -250px;
    margin-left: 25px;
    height: 330px;
    width: 100px;
    z-index: 2;
   }

   #chest {
    margin-top: -170px;
    margin-left: 190px;
    height: 100px;
    width: 120px;
    z-index: 2;
   }

   #cat {
    margin-top: 20px;
    margin-left: 160px;
    height: 130px;
    width: 140px;
    z-index: 2;
   }

   #pot {
    margin-top: -260px;
    margin-left: 430px;
    height: 90px;
    width: 98px;
    z-index: 2;
   }

   #torch {
    margin-top: -210px;
    margin-left: 310px;
    height: 90px;
    width: 98px;
    z-index: 2;
   }

   #torch2 {
    margin-top: -90px;
    margin-left: 890px;
    height: 90px;
    width: 98px;
    z-index: 2;
   }

   #curtain2 {
    margin-top: -270px;
    margin-left: 1096px;
    height: 400px;
    width: 250px;
    z-index: 2;
   }

   #knight {
    margin-top: -167px;
    margin-left: 1130px;
    height: 210px;
    width: 190px;
    z-index: 2;
   }

   #banner {
    margin-top: -390px;
    margin-left: 340px;
    height: 155px;
    width: 45px;
    z-index: 2;
   }

   #banner2 {
    margin-top: -155px;
    margin-left: 918px;
    height: 155px;
    width: 45px;
    z-index: 2;
   }

   .hidden {
    display: none;
    /* font-size: 60px; */
   }

   #harp {
    margin-top: 1px;
    margin-left: 962px;
    height: 200px;
    width: 180px;
    z-index: 2;
   }

   #curtain1 {
    margin-top: -410px;
    margin-left: 526px;
    height: 400px;
    width: 250px;
    z-index: 2;
   }

   #throne {
    margin-top: -160px;
    margin-left: 587px;
    height: 170px;
    width: 125px;
    z-index: 2;
   }

   #table {
    margin-top: -7px;
    margin-left: 990px;
    height: 75px;
    width: 115px;
    z-index: 2;
   }

   #wine {
    margin-top: -140px;
    margin-left: 1040px;
    height: 85px;
    width: 45px;
    z-index: 2;
   }

   #shield {
    margin-top: -150px;
    margin-left: 906px;
    height: 85px;
    width: 65px;
    z-index: 2;
   }

   #bread {
    margin-top: 20px;
    margin-left: 995px;
    height: 55px;
    width: 65px;
    z-index: 2;
   }

   #spider {
    margin-top: -550px;
    margin-left: 225px;
    height: 110px;
    width: 85px;
    z-index: 2;
   }

   #mouse {
    margin-top: 420px;
    margin-left: 325px;
    height: 50px;
    width: 85px;
    z-index: 2;
   }

   #cheese {
    margin-top: -100px;
    margin-left: 260px;
    height: 80px;
    width: 65px;
    z-index: 2;
   }

   #rug {
    margin-top: 30px;
    margin-left: 860px;
    height: 100px;
    width: 265px;
    z-index: 2;
   }

   #axe {
    margin-top: -100px;
    margin-left: 920px;
    height: 80px;
    width: 45px;
    z-index: 2;
   }

   #sword {
    margin-top: -80px;
    margin-left: 990px;
    height: 85px;
    width: 65px;
    z-index: 2;
   }

   #plant {
    margin-top: -236px;
    margin-left: 790px;
    height: 65px;
    width: 55px;
    z-index: 2;
   }




   